<div class='info-body bg-light col-sm-10' id='info-section'>
    <div class='container'>
        <div class='text-viewer-title'>
            <h4>More Information</h4>
        </div></br>
        <h5>Common Regular Expressions</h5>
        <div class='d-flex flex-column common-regular-expressions shadow'>
            <div class='p-2'>
                <div class='d-flex flex-row'>
                    <div class='col col-lg-9 text-left light-text'>
                        <span>Regular Expression</span>
                    </div>
                    <div class='col-md-auto text-right light-text'>
                        <span>Matches</span>
                    </div>
                </div>
            </div>
            <% localVariables.infoVariables.commonRegex.forEach((entry) => { %>
            <div class='p-2 shadow regular-expression-category'>
                <div class='d-flex flex-row'>
                    <div class='col col-lg-9 text-left'>
                        <span><%= entry.name %></span>
                    </div>
                </div>
                <% entry.expressions.forEach((expression) => { %>
                <div class='d-flex flex-row info-row align-items-center'>
                    <div class='col col-lg-9'>
                        <div class='row reg-expression align-items-center'>
                            <div class='col text-left'>
                                <span><%= expression.reg %></span>
                            </div>
                            <div class='col-sm-1 text-right'>
                                <button class='btn btn-secondary' style='height: 100%;' onclick='copyToClipboard(this)'>
                                    <i class='fa fa-clipboard'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-auto align-self-end'>
                        <% expression.matches.forEach((match) => { %>
                        <div class='d-flex flex-row'>
                            <span class='reg-matches'><%= match %></span>
                        </div>
                        <% }); %>
                    </div>
                </div>
                <% }); %>
            </div>
            <% }); %>
        </div>
        <h5>How to Use Site Map</h5>
        <div class='d-flex flex-column contact-section shadow'>
            <div class='p-2'>
                <p>
                    <i class='fa fa-video-camera'></i></br>
                    Quick tutorial
                </p>
                <a href='<%= localVariables.infoVariables.howTo.videoLink %>' target='_blank'>
                    <%= localVariables.infoVariables.howTo.videoLink %>
                </a>
            </div>
            <div class='p-2'>
                <p>
                    <i class='fa fa-file-text'></i></br>
                    Read the Docs
                </p>
                <a href='<%= localVariables.infoVariables.howTo.docsLink %>' target='_blank'>
                    <%= localVariables.infoVariables.howTo.docsLink %>
                </a>
            </div>
        </div>
        <h5>Contact</h5>
        <div class='d-flex flex-column contact-section shadow'>
            <div class='p-2'>
                <i class='fa fa-user'></i></br>
                <span class='light-text'>Created by</span>
                <p>
                    <strong><%= localVariables.infoVariables.contact.name %></strong>
                </p>
            </div>
            <div class='p-2'>
                <i class='fa fa-envelope'></i></br>
                <span class='light-text'>For questions or issues email </span>
                <p>
                    <a href='<%= localVariables.infoVariables.contact.email %>' target='_blank'>
                        <%= localVariables.infoVariables.contact.email %>
                    </a>
                </p>
            </div>
            <div class='p-2'>
                <i class='fa fa-github'></i></br>
                <span class='light-text'>Use the development version </span>
                <p>
                    <a href='<%= localVariables.infoVariables.contact.git %>' target='_blank'>
                        <%= localVariables.infoVariables.contact.git %>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>