<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <!-- partials -->
        <%- include('./partials/ribbon.ejs') %>
        <div class='row bg-dark'>
            <%- include('./partials/nav.ejs') %>
            <%- include('./partials/main.ejs') %>
            <%- include('./partials/geo-section.ejs') %>
            <%- include('./partials/info-section.ejs') %>
        </div>
        <%- include('./partials/toast.ejs') %>
        <!-- scripts -->
        <%- include('./partials/scripts.ejs') %>
    </body>
</html>