<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <!-- partials -->
        <%- include('./partials/ribbon.ejs') %>
        <%- include('./partials/nav.ejs') %>
        <%- include('./partials/main.ejs') %>
        <%- include('./partials/geo-section.ejs') %>
        <%- include('./partials/toast.ejs') %>
        <!-- scripts -->
        <%- include('./partials/scripts.ejs') %>
    </body>
</html>